@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* body{
    overflow: hidden;
} */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
h1{
    display: inline-block;
    font-size: -webkit-xxx-large;
    /* text-decoration: underline; */

}

.navbar{
    height: 10vh;
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
    width: 100%;
    /* height: 100vh; */
    /* width: 100%; */
    /* border: 2px solid red; */
    /* border-radius: 18px; */
    /* border: 1px solid red; */
    background: #e0e0e0;
    justify-content: left;
    text-align: center;
    
    /* font-size: xx-large; */
}
#undo{
    margin-right: 0.5;
}
canvas {
    /* height: 100vh; */
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display: inline;
    position: absolute;
    left: 12vh;
    top: 10vh;
    cursor: crosshair;
}

button i {
    /* width: 10vh;
    color: black;
    height:10vh; */
    font-size: inherit;
    color: black;
}
button img{
    height: inherit;
    width: inherit;
}
button {

    width: 9vh;
    /* background-color: white; */
    height: 8vh;
    /* margin-left: 23%; */
    margin-top: 0;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 19px 19px 38px #bebebe, -19px -19px 38px #ffffff;
    border: 2px solid white;
}

button:hover{
    /* transform:scale(1.1); */
    /* border-radius: 6px; */
   
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  19px 19px 38px #bebebe,
                 -19px -19px 38px #ffffff;
}
button:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

#menu {
    display: flex;
    /* justify-self: center; */
    flex-direction: column;
    height: 90vh;
    width: 12vh;
    /* border: 2px solid red; */
    /* border-radius: 18px; */
    /* border: 1px solid red; */
    background: #e0e0e0;
    justify-content: space-around;
    align-items: center;
    /* box-shadow:  19px 19px 38px #0000d9,
             -19px -19px 38px #0000ff; */
}