@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

/* body{
    overflow: hidden;
} */

h1{
    display: inline-block;
    font-size: -webkit-xxx-large;
    /* text-decoration: underline; */

}

.navbar{
    height: 10vh;
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
    width: 100%;
    /* height: 100vh; */
    /* width: 100%; */
    /* border: 2px solid red; */
    /* border-radius: 18px; */
    /* border: 1px solid red; */
    background: #e0e0e0;
    justify-content: left;
    text-align: center;
    
    /* font-size: xx-large; */
}
#undo{
    margin-right: 0.5;
}
canvas {
    /* height: 100vh; */
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display: inline;
    position: absolute;
    left: 12vh;
    top: 10vh;
    cursor: crosshair;
}

button i {
    /* width: 10vh;
    color: black;
    height:10vh; */
    font-size: inherit;
    color: black;
}
button img{
    height: inherit;
    width: inherit;
}
button {

    width: 9vh;
    /* background-color: white; */
    height: 8vh;
    /* margin-left: 23%; */
    margin-top: 0;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 19px 19px 38px #bebebe, -19px -19px 38px #ffffff;
    border: 2px solid white;
}

button:hover{
    /* transform:scale(1.1); */
    /* border-radius: 6px; */
   
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  19px 19px 38px #bebebe,
                 -19px -19px 38px #ffffff;
}
button:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

#menu {
    display: flex;
    /* justify-self: center; */
    flex-direction: column;
    height: 90vh;
    width: 12vh;
    /* border: 2px solid red; */
    /* border-radius: 18px; */
    /* border: 1px solid red; */
    background: #e0e0e0;
    justify-content: space-around;
    align-items: center;
    /* box-shadow:  19px 19px 38px #0000d9,
             -19px -19px 38px #0000ff; */
}

.color-selector{
    visibility: hidden;
    position: absolute;
    left: 45px;
}

.cs-back {
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    visibility: hidden;
}

.stroke-size-selector{
    visibility: hidden;
    position: absolute;
    top: 15vh ;
    left: 14vh;
    height: 5vh;
    width: 10vh;
    z-index: 1200;
}
.pencile-back{
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 1200;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    visibility: hidden;
}
.eraser-stroke-selector{
    visibility: hidden;
    position: absolute;
    top: 30vh ;
    left: 14vh;
    height: 5vh;
    width: 10vh;
    z-index: 1200;
}
.eraser-back{
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 1200;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    visibility: hidden;
}
.shape-selector{
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 42vh;
    left: 13vh;
    height: 17vh;
    width: 9vh;
    z-index: 1200;
    background: #e0e0e0;
    justify-content: space-around;
    align-items: center;
    border: 4px solid white;
    border-radius: 18px;
}
.shape-button{
    visibility: hidden;
    position: absolute;
   
    height: 5vh;
    width: 7vh;
    z-index: 1200;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.shape-button:hover{
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
#shape-button1{
    top: 44vh;
    left: 14vh;
}

#shape-button2{
    image-resolution:inherit ;
    top: 52vh ;
    left: 14vh;
    
}

.shape-back{
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 1200;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    visibility: hidden;
}

.bgcolor-selector{
    visibility: hidden;
    position: absolute;
    left: 45px;
}

.bg-back {
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 110;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    visibility: hidden;
}

/*introcard*/
.introcard {
    z-index: 1000;
    /* border:1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    visibility: hidden;
}

.introback {
    background-color: rgba(0, 0, 0, 0.301);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.introcarddetails {
    background-color: white;
    border-radius: 10px;
    position: fixed;
    height: 400px;
    aspect-ratio: 1 / 1;
    inset: 0;
    margin: auto;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 7px 4px 38px #bebebe;

  }
  
  .modal-body, .remember {
    padding: 10px 15px;
    line-height: 30px;
  }

  #rememberchecklabel {
      padding-right: 5px;
  }
  .show{
      visibility: visible;
  }
/*introcard*/
